version: '3.8'

services:

  # NATS Message Broker
  nats_broker:
    image: nats:alpine3.22
    container_name: fs_agent_nats
    command: "-js -sd /data -m 8222"
    ports:
      - "${NATS_PORT}:4222"
      - "${NATS_MONITOR_PORT}:8222"
    volumes:
      - .docker-store/nats-dev:/data
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8222/healthz"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - fs_agent

  # PostgreSQL Database (for Kamailio)
  postgres:
    image: postgres:15-alpine
    container_name: fs_agent_postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    networks:
      - fs_agent
    volumes:
      - ./docker-store/postgres:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Kamailio SIP Proxy
  kamailio:
    image: ghcr.io/kamailio/kamailio:6.0.4-bullseye
    container_name: fs_agent_kamailio
    ports:
      - "5060:5060/udp"
      - "5060:5060/tcp"
      - "8082:8080/tcp"   
      - "8443:8443/tcp"   
    networks:
      - fs_agent
    environment:
      - DBHOST=postgres
      - DBPORT=5432
      - DBNAME=${DB_NAME}
      - DBRWUSER=${DB_USER}
      - DBRWPW=${DB_PASSWORD}
      - FS_HOST=${FS_IP}
      - FS_PORT=5060
    volumes:
      - ./.docker-store/kamailio:/etc/kamailio
    depends_on:
       - postgres
    restart: unless-stopped
    command: ["-m", "64", "-M", "8"]
    

  # FreeSWITCH
  freeswitch:
    image: freeswitch-events-agent:latest
    container_name: fs_agent_freeswitch
    build: 
      context: .
      dockerfile: Dockerfile.freeswitch
    privileged: true
    depends_on:
      - nats_broker
      - kamailio
    ports:

      - "${FS_SIP_PORT}:5060/tcp"
      - "${FS_SIP_PORT}:5060/udp"

      - "5080:5080/tcp" # SIP TCP (alternative)
      - "5080:5080/udp" # SIP UDP (alternative)

      - "5081:5081/tcp" # SIP TLS TCP (alternative)
      - "5081:5081/udp" # SIP TLS UDP (alternative)

      - "5070:5070/tcp" # SIP WS
      - "5070:5070/udp" # SIP WS UDP

      - "5066:5066/tcp" # WS
      - "64000-64100:64000-64100/udp" # RTP Media Ports

      - "7443:7443" # API/WS or HTTPS port if used
    networks:
      - fs_agent
    environment:
      - MOD_AUDIO_FORK_SUBPROTOCOL_NAME=audio.drachtio.org
      - DRACHTIO_HOST=${FS_IP}
      - NATS_HOST=fs_agent_nats
      - NATS_PORT=4222
      - AGENT_NODE_ID=agent-node-1
    volumes:
      - ./docker-store/freeswitch/sounds:/usr/local/freeswitch/sounds
      - ./docker-store/freeswitch/recordings:/usr/local/freeswitch/recordings
      - ./autoload_configs/mod_event_agent.conf.xml:/usr/local/freeswitch/conf/autoload_configs/mod_event_agent.conf.xml:ro
      - ./:/workspace
    restart: unless-stopped
 

networks:
  fs_agent:
    driver: bridge
 
